@{
    var i =0;
}
<header>
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">sw studio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="History">History</a>
                        </li>
                        <li class="nav-item ml-auto">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </nav>
    </header>
 <div class="container my-5">
    <h1 class="display-4">History</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                 <th>#</th>
                <th>user</th>
                <th>objName</th>
                <th>Start</th>
                <th></th>
                <th>End</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in @ViewBag.rentLog)
            {  
                <form method="post" asp-controller='Home' asp-action='deleteHistory'>
               <tr id=row+@i>
                    <td>
                        @i
                    </td>
                    <td>
                        @log.user
                        <input type="hidden" name='user' value =@log.user>
                    </td>
                     <td>
                        @log.objName
                        <input type="hidden" name='objName' value =@log.objName>
                    </td>
                    <td>
                        @log.SDate
                        <input type="hidden" name='SDate' value =@log.SDate>
                    </td>
                    <td>
                        @log.SHour:00
                        <input type="hidden" name='SHour' value =@log.SHour>
                    </td>
                    <td>
                        @log.EDate 
                        <input type="hidden" name='EDate' value =@log.EDate>
                    </td>
                    <td>
                        @log.EHour:00
                        <input type="hidden" name='EHour' value =@log.EHour>
                    </td>   
                    <td>
                        <button class="btn btn-danger"   a type = 'submit' >Delete</button>
                            
                    </td> 
                </tr>
                </form>
                i+=1;
            }
        </tbody>
        
    </table>
    <script>

    </script>
</div>
