@model Rooms
@{
    ViewData["Title"] = "Home";
    var i = 1;
}
<header>
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">sw studio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="History">History</a>
                        </li>
                        <li class="nav-item ml-auto">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </nav>

</div>
<div class="container my-5">
    <h1 class="display-4">Room List</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>room</th>
                <th>room number</th>
                <th>accessory</th>
                <th>count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.rooms)
            {
               <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @room.name
                    </td>
                    <td>
                        @room.number
                    </td>
                    <td>
                        @room.accName
                    </td>
                    <td>
                        @room.accNumber
                    </td>
                    <td>
                        <button class="btn btn-success" onclick="rent(this)"value ="@room.accName" number=@room.accNumber >เลือก</button>
                    </td>   
                </tr>
                i+=1;
            }
        </tbody>
        
    </table>

</div>
<div id =  'bg-timeline' class = 'bg-timeline'>
<form method='post' asp-controller='Home' asp-action='History' class = 'timeline' onsubmit="return checkSubmit()" >
    <span class='rentHeader' name = 'objName'  >โปรดระบุเวลาที่จะใช้งาน</span>
    <input type ='hidden' id='hidden' name = 'objName' value="Submit" number =12>
    <div class  = 'dateS'>
        <input id = 'time-start' name='timeStart' type = "date" > <br/> 
        @for(var j = 0 ; j<24;j++){

            <input type="radio" name= 'timeS' class = 'hourBtS' id=S+@j  value=@j  disabled=false >
            <label class="for-hourBtS" for=S+@j>@j</label>
        }
        <br/> 
        </div>

        <div class  = 'dateE'>
            <input id = 'time-end' name='timeEnd' type = "date"> 
            <br/> 
            @for(var j = 0 ; j<24;j++){
                <input type="radio" name= 'timeE' class = 'hourBtE' id=E+@j value=@j  disabled=false>
                <label class="for-hourBtE" for=E+@j>@j</label>
            }
        </div>
         <input type="submit" class= 'submit'/>
</form>
</div>
<script>
    document.getElementById('time-start').addEventListener('input',function(e){
           var objName = document.getElementById('hidden').getAttribute('value')
           var a =  httpGet(`https://localhost:5001/CheckLog/checkDate/?Date=${e.target.value}&objName=${objName}`)
           var timeNumber = a.substring(1,a.length-1).split(",");
           var objNumber = document.getElementById('hidden').getAttribute('number');
           for(let k =0; k<24;k++){
               if(timeNumber[k] >= objNumber ){
                    document.getElementById(`S+${k}`).disabled = true;
                    document.getElementById(`S+${k}`).checked = false;
               }
               else{
                   document.getElementById(`S+${k}`).disabled = false;
               }
           }
    })
    document.getElementById('time-end').addEventListener('input',function(e){
           var objName = document.getElementById('hidden').getAttribute('value')
           var a =  httpGet(`https://localhost:5001/CheckLog/checkDate/?Date=${e.target.value}&objName=${objName}`)
           var timeNumber = a.substring(1,a.length-1).split(",");
           var objNumber = document.getElementById('hidden').getAttribute('number');
           for(let k =0; k<24;k++){
               if(timeNumber[k] >= objNumber ){
                    document.getElementById(`E+${k}`).disabled = true;
                    document.getElementById(`E+${k}`).checked = false;
               }
               else{
                   document.getElementById(`E+${k}`).disabled = false;
               }
           }

    })
    /*document.getElementById('time-start').addEventListener('input',function(e){
           var a =  httpGet(`https://localhost:5001/CheckLog/checkEnd/?Date=${e.target.value}`)
    })*/
    var popup= document.getElementById("bg-timeline");
    function rent(obj){
        document.getElementsByClassName('rentHeader')[0].innerHTML += " "+obj.getAttribute('value');
        document.getElementById('hidden').setAttribute('value',obj.getAttribute('value'))
        document.getElementById('hidden').setAttribute('number',obj.getAttribute('number'))
        popup.style.display ="block"
    }
    window.onclick = function(event) {
        if (event.target == document.getElementById("bg-timeline")) {
            popup.style.display = "none";
        }
    }
    function httpGet(theUrl,date)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    //string startD , int startH, string endD, int endH,int objNumber , string objName
    function checkSubmit(){
        //////
        let dateS  = document.getElementById('time-start').value
        let dateE  = document.getElementById('time-end').value
        let radioS = $("input[type='radio'][name='timeS']:checked").val();
        let radioE = $("input[type='radio'][name='timeE']:checked").val();
        let objNumber =  document.getElementById('hidden').getAttribute('number')
        let objName =  document.getElementById('hidden').getAttribute('value')
        if(dateS === "" || dateE === "" || (dateE == dateS && parseInt(radioE)< parseInt(radioS) ) ){
           alert("Invalid format")
            return false
        }
        let a  = httpGet(`https://localhost:5001/CheckLog/checkSubmit/?startD=${dateS}&startH=${radioS}&endD=${dateE}&endH=${radioE}&objNumber=${objNumber}&objName=${objName}`)
        if(a == "true"){
            alert("Success")
            return true;
        }
        else 
            alert("Fail")
            return false;
    }
    function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;
    return [year, month, day].join('-');
    }
    document.getElementsByName('timeStart')[0].setAttribute("min", formatDate(Date.now()));
    document.getElementsByName('timeEnd')[0].setAttribute("min", formatDate(Date.now()));
</script>
